@font-face {
    font-family: 'Exo2.0-Thin';
    src: url('../fonts/Exo20-Thin.eot');
    src: url('../fonts/Exo20-Thin.eot') format('embedded-opentype'), url('../fonts/Exo20-Thin.woff2') format('woff2'), url('../fonts/Exo20-Thin.woff') format('woff'), url('../fonts/Exo20-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TrebuchetMS-Regular';
    src: url('../fonts/TrebuchetMSRegular.eot');
    src: url('../fonts/TrebuchetMSRegular.eot') format('embedded-opentype'), url('../fonts/TrebuchetMSRegular.woff2') format('woff2'), url('../fonts/TrebuchetMSRegular.woff') format('woff'), url('../fonts/TrebuchetMSRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TrebuchetMS-Bold';
    src: url('../fonts/TrebuchetMSBold.eot');
    src: url('../fonts/TrebuchetMSBold.eot') format('embedded-opentype'), url('../fonts/TrebuchetMSBold.woff2') format('woff2'), url('../fonts/TrebuchetMSBold.woff') format('woff'), url('../fonts/TrebuchetMSBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}